*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    display: flex;
  align-items: center;  
}
.menu i{
    font-size: 30px;
    margin-right: 20px;
}
.center{
    display: flex;
    align-items: center;  
}
/*search icon inside input field*/
.search {
    position: relative;  
  }
  
  .search i {
    position: absolute;  
    left: 10px;  
    top: 50%;  
    transform: translateY(-50%);  
    font-size: 1.2em;  
  }
  
  .search input {
    padding-left: 30px;  
    border: none;
    border-radius: 5px;
    background: #D6D8DE66;
    width: 378px;
    height: 38px;

  }
  .mic i{
    margin-left: 10px;
    font-size: 25px;
  }
  .right i{
    margin-right: 10px;
    font-size: 25px;
  }
  .right i:hover{
   color: red;
   border-bottom: 2px solid red;
  }
  /*footer*/
  footer{
    background: linear-gradient(
        90deg,
        #FFE259 0%,
        #CC86D1 50%,
        #86FDE8 100%
      );
  }
  .footerparts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px 0px 100px;
    padding: 100px;
}
.footertext{
    font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 21.09px;
text-align: left;
color: black;
}
.list ul{
    padding: 0;
}
.list ul li{
list-style: none;
}
.list ul li a{
    text-decoration: none;
    color: black;
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 16.41px;
text-align: left;
}
.footerrow3{
    display: flex;
    align-items: center;  
    justify-content: center;
    }
    .footerrow3left ul{
        display: flex;
        align-items: center;  
    }
    .footerrow3left ul li{
    list-style: none;
    margin-right: 30px;
    }
    .footerrow3left ul li a{
        list-style: none;
        text-decoration: none;
        color: black;
    }
    .footerrow3left ul li a:hover{
        
        color: rgb(243, 13, 158);
        border-bottom:2px solid #CC86D1;
    }
  
  form{
    display: flex;
    flex-direction: column;
  }
  .btn3{
    border-radius: 5px ;
    border:none;
    background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
    color: #ffff;
    }
   
    .btn3:hover{
        background: linear-gradient(90deg, #ff59b7 0%, #940551 100%);
        color: #ffff; 
    }
    form input {
        margin-bottom: 10px;  /* Adjust spacing as needed */
      }
      